body {
  background: #e8e7e7;
  font-family: arial;
}

#page-title{
  margin: auto;
  text-align: center;
  margin-top: 50px;
}



/* COMPONENT STYLES -----------------------*/
.game{
  background: #fff;
  width: 700px;
  margin: 60px auto;
  box-shadow: 0 2px 0 rgb(201, 8, 42);
  border-radius: 6px;
  overflow: hidden;
}

  .game .game-headline{
    display: flex;
    margin: 0px;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
  }

.game button {
  float: right;
  width: 150px;
  background-color: #17408b;
  border-radius: 5px;
  padding: 7px 8px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
}
