body {
  background: #e8e7e7;
  font-family: arial;
}

form {
  display: flex;
  max-width: 700px;
  width: 90%;
  margin: auto;
}

select {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #17408b;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  outline: none;
}

input[type=text]::-webkit-input-placeholder{
  color: #C7BCF8;
  letter-spacing: 2px;
}


input[type=submit] {
  display: block;
  font-size: .6em;
  margin: 15px 15px 15px 0;
  padding: 10px;
  background-color: #17408b;
  border-radius: 5px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}

button,
input[type=submit] {
  outline: none;
  transition: background-color 0.2s ease,
              color 0.2s ease;
}

svg{
  display: none;
}


/* COMPONENT STYLES -----------------------*/
.App{
  width: 100%;
}

#page-title{
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.game{
  background: #fff;
  max-width: 700px;
  width: 90%;
  margin: 60px auto;
  box-shadow: 0 2px 0 rgb(201, 8, 42);
  border-radius: 6px;
  overflow: hidden;
}

  .game .game-headline{
    display: flex;
    margin: 0px;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
  }

.favorite-game svg{
  display: block;
  fill: gold;
}

.game button {
  float: right;
  width: 150px;
  background-color: #17408b;
  border-radius: 5px;
  padding: 7px 8px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
}

.game-details{
  border-radius: 6px;
  border-top: 2px dashed black;
  padding-top: 10px;
}

  .game-details .box-score{
    width: 80%;
    float: left;
  }

    .game-details .box-score tr{
      text-align: left;
    }

  .game-details .details-text{
    text-align: center;
    margin: 0px;
  }

    .game-details .details-text p{
      margin: 0px 0px 12px;
    }

    .game-details .details-text .game-location{
      font-size: 12px;
      margin-top: 2px;
    }
