body {
  background: #e8e7e7;
  font-family: arial;
}



/* COMPONENT STYLES -----------------------*/
.player{
  background: #fff;
  width: 700px;
  margin: 60px auto;
  box-shadow: 0 2px 0 rgb(201, 8, 42);
  border-radius: 6px;
  overflow: hidden;
}

  .player .game-headline{
    float: left;
    width: 61%;
    margin: 8px 2%;
    color: #36454f;
  }

.player button {
  float: right;
  width: 31%;
  margin: 8px 2%;
  background-color: #17408b;
  border-radius: 5px;
  padding: 7px 8px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
}
